@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Montserrat:wght@500;600;700&display=swap');

body {
 font-family: 'Lora', serif;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #111;
  color: white;
   font-family: "Caveat", cursive;
  font-optical-sizing: auto;

  font-style: normal;
}

.gradient-text {
  background: linear-gradient(90deg, #fff, #666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link {
  font-size: 1.2rem;
  margin: 5px 0;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #fff;
}
/* theme.css */

/* Default (root) values */
:root {
  --bg-color: #111;
  --text-color: #fff;
  --muted-text: #b9b9b9;
  --accent-color: #ff3b3b;
   --dif-color:rgb(230, 233, 238);
  /* ... */
}

.light-theme {
  --bg-color: #f9f9f9;
  --text-color: #111;
  --muted-text: #555;
 
  /* darker gray for light mode */
  /* ... */
}

/* Apply globally */
body.dark-theme,
body.light-theme {
  background-color: var(--bg-color);
  color: var(--text-color);
}


.dark-theme {
  --bg-color: #111;
  --text-color: #fff;
}

.light-theme {
  --bg-color: #f9f9f9;
  --text-color: #111;
}
