@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poppins:wght@300;400;600;700&family=Merriweather:wght@400;700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-style: normal;
  background-color: var(--bg-color, #111);
  color: var(--text-color, #fff);
}

*, *::before, *::after {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
